# ----------------------------------------------------------
# Unity Text Files (merge-friendly)
# ----------------------------------------------------------
*.cs     text diff=csharp
*.shader text
*.compute text
*.cginc text
*.hlsl  text
*.glsl  text
*.json  text
*.xml   text
*.yaml  text
*.yml   text
*.meta  text merge=unityyamlmerge eol=lf
ProjectSettings/* text
Packages/* text

# ----------------------------------------------------------
# Unity Binary Files (use LFS)
# ----------------------------------------------------------
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs -text
*.controller filter=lfs diff=lfs -text
*.prefab filter=lfs diff=lfs -text
*.unity filter=lfs diff=lfs -text
*.wav filter=lfs diff=lfs -text
*.mp3 filter=lfs diff=lfs -text
*.ogg filter=lfs diff=lfs -text
*.zip filter=lfs diff=lfs -text
*.mp4 filter=lfs diff=lfs -text
